In [1]:
import pandas as pd

In [9]:
df = pd.read_csv("ownership.csv")

In [10]:
df

                      Company Name                      Car wash name
0         Whistle Express Car Wash             #26 WEISS GUYS EXPRESS
1                  Mister Car Wash             #27 WEISS GUYS EXPRESS
2              Tidal Wave Auto Spa             #28 WEISS GUYS EXPRESS
3                    ZIPS Car Wash  *** StoneWash *** Car Care Center
4     Quick Quack Express Car Wash            1287 DEER PARK CAR WASH
...                            ...                                ...
1472                           NaN          Youngstown (Mahoning Ave)
1473                           NaN                      Zips Car Wash
1474                           NaN                      Zips Car Wash
1475                           NaN              Zips Express Car Wash
1476                           NaN                      Zoom Car Wash

[1477 rows x 2 columns]

In [11]:
from difflib import SequenceMatcher

# 1) grab your master list of companies (col A)
companies = df.iloc[:, 0].dropna().astype(str).unique().tolist()

# 2) helper: true if any company ≥threshold
def has_fuzzy_match(name, companies, threshold=0.90):
    name = str(name)
    for comp in companies:
        if SequenceMatcher(None, name, comp).ratio() >= threshold:
            return True
    return False

# 3) apply to col B, produce 0/1 in col C
df['matches'] = df.iloc[:, 1].astype(str).apply(lambda x: int(has_fuzzy_match(x, companies)))

# optionally check
df.head(20)

                    Company Name                      Car wash name  matches
0       Whistle Express Car Wash             #26 WEISS GUYS EXPRESS        0
1                Mister Car Wash             #27 WEISS GUYS EXPRESS        0
2            Tidal Wave Auto Spa             #28 WEISS GUYS EXPRESS        0
3                  ZIPS Car Wash  *** StoneWash *** Car Care Center        0
4   Quick Quack Express Car Wash            1287 DEER PARK CAR WASH        0
5                  Club Car Wash           330 S. Broadway Lawrence        0
6       Tommy�s Express Car Wash                       360 Car Wash        0
7                Spotless Brands                  4th u0026 Douglas        0
8                    GO Car Wash                     A-KEY CAR WASH        0
9           Mammoth Holdings LLC               AGGIELAND EXPRESS #2        0
10   WhiteWater Express Car Wash                  AGGIELAND EXPRESS        0
11                       ModWash                  ALL STAR CAR WASH        0
12         Express Wash Concepts                     ALOHA CAR WASH        0
13           Super Star Car Wash                  AMERICAN CAR WASH        0
14             Autobell Car Wash                  AUTO WASH EXPRESS        0
15                  LUV Car Wash                           Abercorn        0
16          Summit Wash Holdings                     Adore Car Wash        0
17            True Blue Car Wash             Alabaster Wash and Wax        0
18               Splash Car Wash                   Aladdin Car Wash        0
19              Caliber Car Wash                            Alameda        0

In [13]:
df.to_csv("ownership_output.csv", index=False)