In [2]:
from IPython.display import clear_output
# !pip3 install pandas openpyxl
clear_output()

In [3]:
import pandas as pd
df = pd.read_excel("unscaled_clean_dataset.xlsx" , engine='openpyxl')

In [4]:
df.shape

(536, 4)

In [5]:
df.columns

Index(['full_site_address', 'Latitude', 'Longitude', 'cars_washed'], dtype='object')

In [6]:
df.head()

,full_site_address,Latitude,Longitude,cars_washed
0,"*** StoneWash *** Car Care Center , 818 Paris ...",36.732531,-88.633032,36381
1,"A-KEY CAR WASH , 2210 N Prince St , Clovis , N...",34.421150,-103.196969,95400
2,"ALL STAR CAR WASH , 5835 N Market St , Shrevep...",32.600345,-93.841208,10751
3,"Abercorn , 10509 Abercorn St , Savannah , GA ,...",31.985852,-81.133095,12326
4,"Alabaster Wash and Wax , 916 1st St S , Alabas...",33.233145,-86.811630,32263

In [7]:
df.describe()

         Latitude   Longitude    cars_washed
count  536.000000  536.000000     536.000000
mean    35.614735  -87.714096   66664.916045
std      4.873289   10.463975   47259.539135
min     26.244089 -147.811434    1059.000000
25%     32.269122  -92.655200   26026.500000
50%     35.240030  -84.446604   60765.000000
75%     38.699168  -81.512097   96964.500000
max     64.851509  -70.550640  242588.000000

In [10]:
competitors_df = pd.read_csv("competitor_summary.csv")

In [11]:
competitors_df.shape

(1477, 20)

In [12]:
competitors_df.columns

Index(['original_address', 'competitors_count', 'competitor_1_distance_miles',
       'competitor_1_google_rating', 'competitor_1_google_user_rating_count',
       'competitor_2_distance_miles', 'competitor_2_google_rating',
       'competitor_2_google_user_rating_count', 'competitor_3_distance_miles',
       'competitor_3_google_rating', 'competitor_3_google_user_rating_count',
       'competitor_4_distance_miles', 'competitor_4_google_rating',
       'competitor_4_google_user_rating_count', 'competitor_5_distance_miles',
       'competitor_5_google_rating', 'competitor_5_google_user_rating_count',
       'competitor_6_distance_miles', 'competitor_6_google_rating',
       'competitor_6_google_user_rating_count'],
      dtype='object')

In [16]:
competitors_unique = competitors_df.drop_duplicates(
    subset=['original_address']
)

In [18]:
competitors_unique.shape

(1477, 20)

In [19]:
# df = df.merge(
#     competitors_unique,
#     on=['full_site_address'],
#     how='left'
# )

df = df.merge(
    competitors_unique,
    left_on='full_site_address',
    right_on='original_address',
    how='left'
)

In [20]:
df.head()

,full_site_address,Latitude,Longitude,cars_washed,original_address,competitors_count,competitor_1_distance_miles,competitor_1_google_rating,competitor_1_google_user_rating_count,competitor_2_distance_miles,...,competitor_3_google_user_rating_count,competitor_4_distance_miles,competitor_4_google_rating,competitor_4_google_user_rating_count,competitor_5_distance_miles,competitor_5_google_rating,competitor_5_google_user_rating_count,competitor_6_distance_miles,competitor_6_google_rating,competitor_6_google_user_rating_count
0,"*** StoneWash *** Car Care Center , 818 Paris ...",36.732531,-88.633032,36381,"*** StoneWash *** Car Care Center , 818 Paris ...",1.0,0.029545,4.1,51.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"A-KEY CAR WASH , 2210 N Prince St , Clovis , N...",34.421150,-103.196969,95400,"A-KEY CAR WASH , 2210 N Prince St , Clovis , N...",4.0,0.513618,2.0,1.0,0.601399,...,1138.0,0.795479,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"ALL STAR CAR WASH , 5835 N Market St , Shrevep...",32.600345,-93.841208,10751,"ALL STAR CAR WASH , 5835 N Market St , Shrevep...",0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Abercorn , 10509 Abercorn St , Savannah , GA ,...",31.985852,-81.133095,12326,"Abercorn , 10509 Abercorn St , Savannah , GA ,...",3.0,0.451116,4.7,185.0,0.513824,...,779.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Alabaster Wash and Wax , 916 1st St S , Alabas...",33.233145,-86.811630,32263,"Alabaster Wash and Wax , 916 1st St S , Alabas...",0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df.to_csv('merged_sites_with_competitors.csv', index=False)